*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#ffffff;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
}

.contenedor{
    position:relative;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.fondo{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}

.btn{
    position:absolute;
    left:31.5%;
    width:36%;
    height:5.2%;
    background:transparent;
    border-radius:18px;
    transition: transform .15s ease;
}

.btn:hover{
    transform:scale(.97);
}

.whatsapp{
    top:43,8%;
}

.web{
    top:55.5%;
}

.instagram{
    top:67.2%;
}

.maps{
    top:79%;
}